<%= turbo_stream.append "questions" %>
  <p>
    Question ID: <%= question.id %>
  </p>

  <p>
    Prompt: <%= question.prompt %>
  </p>

  <p>
    Format: <%= question.question_format %>
  </p>
<% end %>