<div class ="contain flex h-full w-full items-center justify-center p-2">
  <div class="wrapper p-8 border border-4 border-black border-double w-fit">
  <h1 class="max-sm:text-3xl text-4xl mb-4">Propose a New Workshop</h1>

  <%= render "form", workshop: @workshop %>
  </div>
</div>