<p style="color: green"><%= notice %></p>

<%= render @workshop %>

<% if current_facilitator.present? %>
  <%= render "admin_panel", workshop: @workshop %>
<% end %>

<%= link_to "Back to workshops", workshops_path %>


