<h1> <%= track.title %> Workshops </h1>
  <p>
    <b>
      <%= link_to "Show calendar for this track", track %>
    </b>
  </p>
<% track.workshops.each do |workshop| %>
  <p>
    <%= link_to "#{workshop.title}", workshop_path(workshop) %>
  </p>
<% end %>
