<div class ="contain flex h-full w-full items-center justify-center p-2">
  <div class="wrapper p-8 border border-4 border-black border-double w-fit">
    <h1 class="max-sm:text-3xl text-4xl mb-4">
      New Workshop Track
    </h1>
    <%= render "forms/track_proposal_form", track: @track %>
  </div>
</div>