<div class="w-full h-full">
  <div class="heading px-4 pb-4 pt-8 mb-2">
    <h1 class="pt-2 pl-2 max-sm:text-4xl text-6xl">
      Pending Workshop Tracks
    </h1>
  </div>
  <div class="all-tracks flex flex-wrap justify-center">
  <% @tracks.each do |track| %>
  <div>
    <%= render track %>
    <% if current_facilitator.present? && current_facilitator.is_admin? %>
    <div class="px-4 text-sm pb-4">
      <%= render "proposal_status", track: track %>
      </div>
    <% end %>
    </div>
  <% end %>
  </div>