<h3> Create Application for Workshop </h3>

<%= turbo_frame_tag "questions" do %>
  <% if @application_template.questions.present? %>
    <% @application_template.questions.each do |question| %>
      <%= render question %>
    <% end %>
  <% end %>
<% end %>

<%= render "questions/form", application_template: @application_template %>