<h1>Editing facilitator</h1>

<%= render "form", facilitator: @facilitator %>

<br>

<div>
  <%= link_to "Show this facilitator", @facilitator %>
  <%= link_to "Back to facilitators", facilitators_path %>
</div>
