<p style="color: green"><%= notice %></p>

<h1>Facilitators</h1>

<div id="facilitators">
  <% @facilitators.each do |facilitator| %>
    <%= render facilitator %>
    <p>
      <%= link_to "Show this facilitator", facilitator %>
    </p>
  <% end %>
</div>

<%= link_to "New facilitator", new_facilitator_path %>
