<h1>Editing workshop participant</h1>

<%= render "form", workshop_participant: @workshop_participant %>

<br>

<div>
  <%= link_to "Show this workshop participant", @workshop_participant %> |
  <%= link_to "Back to workshop participants", workshop_participants_path %>
</div>
