<p style="color: green"><%= notice %></p>

<h1>Workshop participants</h1>

<div id="workshop_participants">
  <% @workshop_participants.each do |workshop_participant| %>
    <%= render workshop_participant %>
    <p>
      <%= link_to "Show this workshop participant", workshop_participant %>
    </p>
  <% end %>
</div>

<%= link_to "New workshop participant", new_workshop_participant_path %>
