<h1>Editing workshop facilitator</h1>

<%= render "form", workshop_facilitator: @workshop_facilitator %>

<br>

<div>
  <%= link_to "Show this workshop facilitator", @workshop_facilitator %> |
  <%= link_to "Back to workshop facilitators", workshop_facilitators_path %>
</div>
