<h1>Participant#workshop_registration_email</h1>

<p>
  <%= @greeting %>, find me in app/views/participant_mailer/workshop_registration_email.html.erb
</p>

<%= link_to 'Show Workshop', workshop_url(Workshop.first, host: 'localhost:3000')%>