<div class="max-w-4xl">
  <h3> Create Feedback Form for <%= @feedback_form.workshop.title %> </h3>

  <%= turbo_frame_tag "questions" do %>
    <% if @feedback_form.questions.present? %>
      <% @feedback_form.questions.each do |question| %>
        <%= render question %>
      <% end %>
    <% end %>
  <% end %>

  <%= render "questions/feedback_question_form", feedback_form: @feedback_form %>
</div>